{% extends 'layout.html' %}
{% block title %}Тест сайта{% endblock %}
{% block content %} 
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <a class="navbar-brand" href="#">Oiynbeck</a>
        <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="#">Главное</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/vxod2">Войти</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Зарегестрироваться</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">О нас</a>
        </li>
        </ul>
    </nav>
    <center><h1>Добро пожаловать на новостной портал для игр!</h1></center>
{% endblock %}